.form__button {
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(50, 155, 55);
    border: none;
    border-radius: 5px;
    color: white;
    transition: .2s;
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(65, 181, 71);
}

.form__button:active{
    background-color: rgb(88, 211, 94);
}

.form__updateElement {
    text-align: center;
    padding-top: 10px;
    height: 50px;
}