.form__fieldset {
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.form__legend {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: rgb(50, 155, 55);
    color: white;
    text-align: center;
}

.form__label {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .form__label {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.form__labelText {
    align-self: center;
}

.form__input {
    max-width: 200px;
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .form__input {
        max-width: 500px;
    }
}

.form__button {
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(50, 155, 55);
    border: none;
    border-radius: 5px;
    color: white;
    transition: .2s;
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(65, 181, 71);
}

.form__button:active{
    background-color: rgb(88, 211, 94);
}

.form__updateElement {
    text-align: center;
    padding-top: 10px;
    height: 50px;
}